html, body 
{
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    width: 100%;
    height: 100vh;
    background: url(https://giffiles.alphacoders.com/206/206276.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    font-family: montserrat;
}

.nav
{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    border-bottom: 1px;
}

.logo
{
    letter-spacing: 5px;
    float: left;
    color: #fff;
    font-size: 22px;
    line-height: 80px;
    padding: 0 5em;
}

.menu
{
    float: right;
    line-height: 80px;
    margin: 0 5em;
}

.menu ul
{
    list-style: none;
}

.menu ul li
{
    display: inline-block;
}

.menu ul li a
{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
    padding: 0 20px;
}

ul li:nth-child(3) a
{
    color: #009f8b;
    border: 1px solid #009f8b;
    padding: 10px 20px;
    border-radius: 4px;
}

.header 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px
}

.header h1
{
    color: #fff;
    font-size:46px;
    font-weight: 400;
    margin-bottom: 8px;
}

.header p
{
    color: #fff;
    font-size: 24px;
    font-weight: lighter;
}

.header a
{
    color: #fff;
    Background: #009f8b;
    padding: 18px 38px;
    border: none;
    font-size: 14px;
    margin-top: 40px;
}